
/*--------- Header ---------*/
header {
    background-color: #FFD736;
    color: #484848;
    padding: 13px;
    border-bottom: 4px #242424 solid;
        box-shadow: 0px 3px 4px #b3b3b3;
}

header #logo {
    background-size: cover;
    object-fit: cover;
    width: 290px;
}

header p {
    margin: 0;
}

header #connexion {
    text-align: right;
}